




body, html {
    height: 100%;
}

.headshot{
  border-radius: 50%;
  position: relative;
  border: #ffffff 3px solid;
  height: 35%;
  width:auto;
  margin-top: 7%;
  margin-bottom: 3%;
}

.logo{
  height: 14%;
  width:auto;
  margin-left: 30px;
  margin-right:20px
}

.extracur_text{
  text-align:left;
  font-size:18px;
  margin-left:280px;
  margin-right:50px;
}


.info{
  font-size:36px;
  background-color: grey;

}

.books{
  height: 40%;
  border: #ffffff 1px solid;

}


.parallax {
    /* The image used FIX FIX */
    /* background-image: url('positano.jpg');*/
    background-image: url('purple.jpg');
    z-index: 0;

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    text-align:center;
    color:white;
}

.parallax2 {
    /* The image used */
    background-image: url('purple.jpg') ;


    /* Full height */
    height: 80%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    text-align:center;
    color:white;
}


.header{
  font-family:"Imprima";
  font-size:20px;
  align-content: center;
}

.name{
  position: relative;
  font-family:"Merienda One";
  font-size:70px;
  color: white;
}

.box{
  position: relative;
  left: 34%;
  width: 500px;
  background: rgba(0,0,0,  0.5);
}

.menu{
  position: relative;
  z-index: 100;
  top: 90%;
  left: 35%;
  width: 500px;
  background: rgba(0,0,0, 1);
}
.about{
  font-family:"Merienda One";
  position: relative;
  font-size:60px;
  color:black;

}

.split {
height: 100%;
  width: 50%;


}
.split2 {
height: 100%;
  width: 50%;


}

/* Control the left side */
.left {
  float: left;
  /*background: rgba(250, 250, 250, .8);*/
  background: rgba(250, 250, 250, 1);
  height: 100%;
  color:black;

}

.left2 {
  float: left;
  /*background: rgba(250, 250, 250, .8);*/
  background: rgba(250, 250, 250, 1);
  height: 55%;
  color:black;

}


/* Control the right side */
.right {
  float: right;
  /*background: rgba(250, 250, 250, .8);*/
  background: rgba(250, 250, 250, 1);
  font-family:"Imprima";
  font-size:20px;
  overflow: auto;
  height: 100%;
  color:black;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text{
  font-size:17px;
  margin: 20px 150px 200px 200px;
  text-align: left;
}

br{
  line-height: 80%
}
*{
font-family:"Cabin";
font-size: 15px;
font-weight: lighter;
color:black;
}
